.header {
    background-color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 200%;
    font-weight: 300;
}

.footer {
    background-color: #eee;
    padding-left: 10px;
    margin-top: 10px
}

.mylink {
    margin-right: 10px;
}

.content {
    max-width: 100%;
}

.main {
    margin-left: 10px;
}

.filler {
    margin-left: auto;
    margin-right: 10px;
    white-space: nowrap;
}

.howto, .buttons {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
